{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.6132487459983!2d49.8625986152541!3d40.37759126318646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307c77f3bda785%3A0x3e932cde79cf3f19!2sBaku%2C%20Azerbaijan!5e0!3m2!1sen!2sbd!4v1635258926152!5m2!1sen!2sbd" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            
                            <h2>Contact Us</h2>
                            {% for info in contact_info %}
                            <p>{{ info.content }}</p>
                        </div>
                        <ul>
                            <li>
                                <h4>{{ info.country }}</h4>
                                <p>{{ info.address }}<br>{{ info.phone_number }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            {{ field }}
                            {% endfor %}
                            <button type="submit">Send Message</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->




    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    {% endblock %}